[2019-02-24 06:54] egara opened #1 "[Feature Request] Packages to upgrade not blocking"
Now, when ButterManager checks for updates, it is done in the main thread, so the GUI is blocked.

The process implemented to check for updates must be in another thread.

[2019-03-03 15:39] #1 closed

[2019-03-10 14:49] egara opened #2 "Upgrade system without snapshots"
Include a button in the updates checker window for upgrading the system without creating snapshots

[2019-03-10 14:50] egara opened #3 "Remove System progressbar"
System progressbas has no sense. It should be removed from the main window

[2019-03-10 15:01] egara opened #4 "New messages"
Include some new messages:

- When there is no space enough in the file system
- When a balance operation should be done

[2019-03-10 15:34] #3 closed

[2019-03-10 19:56] egara opened #5 "Include a option for yay"
Include a option for yay: yay -Syua --noconfirm in order to take into account packages from AUR

[2019-03-10 19:57] egara opened #6 "Uncheck Updates Checker in the first run"
When ButterManager runs for the first time, Updates Ckecker on Start Up should be unchecked

[2019-03-18 15:42] egara commented on #2
Done

[2019-03-18 15:42] #2 closed

[2019-03-20 20:58] egara opened #7 "Avoid resizing and maximizing any window"
In order to keep proportions

[2019-03-24 07:38] egara commented on #7
Done!

[2019-03-24 07:38] #7 closed

[2019-03-24 07:47] egara commented on #6
Done!

[2019-03-24 07:47] #6 closed

[2019-03-24 07:49] egara commented on #5
Done!

[2019-03-24 07:49] #5 closed

[2019-03-28 10:50] egara commented on #4
Done!

[2019-03-28 10:50] #4 closed

[2019-05-05 06:25] egara opened #8 "Information labels don't refresh after balancing"
When balancing operation is done, information labels don't refresh properly

[2019-05-05 07:39] egara commented on #8
Done!

[2019-05-05 07:39] #8 closed

[2019-05-23 15:44] damian101 opened #9 "snap package not available"
`error: cannot open: "buttermanager_1.5_amd64.snap"`
I also couldn't find ButterManager in the Snap Store.
I also tried to install it with the Python script but I had to edit the script in a lot of places to get it running without errors, but at the end it didn't install ButterManager anyway.
I tried this on openSUSE Tumbleweed. Installing it on Arch was super easy through the AUR.

[2019-05-23 19:43] egara commented on #9
Hi @damian101

Thank you very much for reporting this issue. The URL of the snap package located in my Google Drive was wrong (it was still pointing to version 1.4).

ButterManager is not in the Snap Store and it won't be :( This is the process I opened with Canonical to include it but finally it has not been possible https://forum.snapcraft.io/t/requesting-classic-confinement-for-buttermanager/95

[2019-05-24 00:06] damian101 commented on #9
@egara I tried it again on openSUSE and also Arch this time, but still the same.
`sudo snap install --beta core16` runs fine but I still get the same error when I run `sudo snap install buttermanager_1.5_amd64.snap --classic --dangerous`: `error: cannot open: "buttermanager_1.5_amd64.snap"`.

[2019-05-24 11:05] egara commented on #9
Hi again @damian101

I have installed the snap package without any issue in mi Arch system. I also have installed a fresh OpenSUSE Tumbleweed in a virtual machine and I haven't had any problem either. But I think what your problem could be. Yo need to execute the command

`sudo snap install buttermanager_1.5_amd64.snap --classic --dangerous`

from the directory where the snap was downloaded (for i

[2019-05-24 15:05] damian101 commented on #9
@egara Sorry, my fault. Apparently I always completely overread these two sentences:
"First, download the ButterManager snap here.
After this, ppen a terminal, go to the directory where the package is downloaded [...]"
I guess this was because of my belief that snap packages cannot be installed from local files (I read that several times).
Now the installation was quick and unproblematic.
Anyways,

[2019-05-24 15:05] #9 closed

[2019-05-25 08:56] egara commented on #9
@damian101 great news!!!

Thank you for your words :)

[2019-06-08 06:07] egara opened #10 "Logs visualization"
Implement a new tab for logs and allow their visualization

[2019-06-08 06:10] egara opened #11 "Logs management"
- Implement a button to delete logs
- Implement new settings:
  - Create a log when a new snapshot is created
  - Keep logs (If this check is not marked, when a snapshot is deleted, then the log related will be deleted too)

[2019-06-08 06:13] egara opened #12 "Check for updates"
Because some users ha installed the application cloning the repository or via the custom snap package, those users won't be aware when a new version is available, so the application should warn when a new release has been deployed.

[2019-06-23 09:43] egara commented on #10
Done!

[2019-06-23 09:43] #10 closed

[2019-06-23 09:43] egara commented on #11
Done!

[2019-06-23 09:43] #11 closed

[2019-06-30 07:09] egara commented on #12
Done!

[2019-06-30 07:09] #12 closed

[2020-01-04 03:27] friday opened #13 "Missing dependency for Arch "No module named 'PyQt5.sip'""
[code]

I tried installing the PyQt5 package, but it wasn't enough.

There's a package named `python2-sip-pyqt5`, but none for python 3.

[2020-01-04 07:00] egara commented on #13
Hi @friday
Thank you very much for reporting the issue. A few questions:

- What Linux distribution are you using?
- What desktop environment?

Thank you very much :)

[2020-01-04 16:17] friday commented on #13
I'm using Arch (sorry, put it in the title, but easy to miss) with Gnome as DE

[2020-01-04 18:27] egara commented on #13
Hi @friday again.

You are right! Distro was in the main title. I didn't see it! ;P

I've been checking the dependencies I have installed in my two computers (both Arch, one with KDE and the other one with XFCE) and I see I have these two packages:

python-sip (4.19.19-4) and python-sip-pyqt5 (4.19.19-3). Could you test if installing only the second one the application works? If it is not enough,

[2020-01-04 18:35] friday commented on #13
python-sip-pyqt5 doesn't exist in main repos or aur. Apparently it was in `extra`, but not any more. https://www.archlinux.org/packages/extra/x86_64/python-sip-pyqt5/

I tried installing python-sip, sip and sip5, but it doesn't change anything.

[2020-01-04 19:18] egara commented on #13
Really strange! Why has this package been removed? :o

Ok, let's try this:

- Install pip if it isn't installed (sudo pacman -S python-pip)
- Install the package PyQt5-sip via pip (pip install PyQt5-sip)

And try again. Let's see if this works. Thanks!

[2020-01-04 22:56] friday commented on #13
I had to install both PyQt5 and PyQt5.sip `pip install --user PyQt5 PyQt5.sip`. The `python-pyqt5` package didn't work after I installed PyQt5.sip via pip:
[code]

With python2 I could import the module if I installed `python2-pyqt5` (which depends on `python2-sip-pyqt5`).

[2020-01-05 06:36] egara commented on #13
Hi again!

I don't understand very well. So, if you install PyQt5 and PyQt5-sip via pip the application works?

[2020-01-05 12:53] egara commented on #13
Hi again @friday
I've been installing Arch with GNOME (via EndevourOS) in VirtualBox and you are right, since the python-pyqt5-sip has been removed, the application is not running anymore. I have been able to run it creating a venv (virtual environment) and installing there all the python modules it needs so I'm going to try to modify the PKGBUILD and the initial script in order to do all the need

[2020-01-06 06:02] friday commented on #13
Hey!
I don't have much time currently, and also don't depend on Buttermanager, so I prefer to wait until it's fixed.

[2020-01-09 20:16] egara commented on #13
Hi @friday
Finally I have completelly repackaged the application and it is published in AUR version 1.7-2 of buttermanager. I had to build a virtual environment with all the modules and dependencies obtained from pip because of the problems related to native packaged library python-pyqt5-sip, which is not included anymore.
Because of this virtual environment, the size of the package has increased,

[2020-01-09 21:26] friday commented on #13
That did the trick :+1:

Were you also getting cropped text labels when you tested in Gnome btw? If not I could create a new issue and post screenshots.

I'm very new to BTRFS and decided to look at GUIs to get started. I will end up using systemd jobs for maintenance though, so don't put too much time on me specifically.

[2020-01-09 21:26] #13 closed

[2020-01-09 21:33] friday opened #14 ""font scaling factor" makes texts overflow"
I've set my font scaling factor to 1.33 in gnome
`gsettings set org.gnome.desktop.interface text-scaling-factor 1.33`
(you can also do it with "gnome-tweaks").

Unfortunately this makes buttermanagers texts overflow.

![buttermanager-1](https://user-images.githubusercontent.com/515120/72106218-3f7f2c80-332f-11ea-913a-00157b713a9f.png)
![buttermanager-2](https://user-images.githubusercontent.com/51

[2020-01-10 08:21] egara commented on #14
Hi again!

Thanks for reporting! I'll take a look and see what can I do to fix this problem. I'll keep you inform.

[2020-01-10 09:07] friday commented on #14
No hurry on my account. Just thought you'd like to know.

[2020-04-18 06:48] egara opened #15 "Fix some tooltips"
Some of the tooltips are wrong

[2020-04-18 06:49] egara opened #16 "Include documentation"
In order the application to be more easy to use and configure

[2020-04-18 06:51] egara commented on #16
Some users have difficulties to set up the application

https://kindchan.org/kind/res/121.html

[2020-04-25 07:30] egara commented on #14
Good morning @friday Finally I found time to solve this issue and I have added some minor fixes and documentation to version 1.8. Could you test it and confirm that the problem is solved, please?

I have added auto-scaling so there shouldn't be any problem now.

Thank you very much and I hope you are well :)

[2020-04-25 07:30] #15 closed

[2020-04-25 07:31] egara commented on #16
Documentation in /doc directory added and Wiki created accessible from the main GUI under Documentation tab.

[2020-04-25 07:31] #16 closed

[2020-04-26 05:46] egara opened #17 "[Feature request] Integrate buttermanager with grub-btrfs"
Integrating Buttermanager with the application grub-btrfs, the user will be able to boot its system from a specific snapshot when grub menu appears on screen

[2020-04-27 10:29] dbro86 opened #18 "New github tag for the announced version 1.8 is missing"
Hi,
please can you create the expected tag?

Kind regards

[2020-04-27 10:41] egara commented on #18
Hi @dbro86  and thanks for the feedback.

You are right, I forgot! :P
I've just created the new 1.8 tag. Thanks again!

[2020-04-27 10:41] #18 closed

[2020-05-30 16:56] friday commented on #14
Sorry. I forgot about this, and I'm not actively using Buttermanager.

It looks more consistent now, but the default font size is very small for me.
![butter2](https://user-images.githubusercontent.com/515120/83333885-2f96c380-a2a3-11ea-91db-118d6ad1c3f3.png)

My "font scaling factor" in Gnome is 1.33
I could set `QT_SCALE_FACTOR` then open from a terminal to change the scaling though.

[2020-05-31 06:05] egara commented on #14
Hi @friday and thank you very much for testing again! Ok, I see the default font size is small. Maybe I can add a new option in settings to set the default font size for this cases.

Thank you again for your time and your feedback! :)

[2020-06-18 17:00] #17 closed

[2020-06-19 01:08] damian101 opened #20 "Doesn't start after installation (Gtk-Message: Failed to load module "canberra-gtk-module")"
I just installed ButterManager with the snap package on openSUSE Tumbleweed, but when I try to open it, it doesn't start.
Here is the terminal output:
[code]

[2020-06-19 03:52] damian101 commented on #20
I get a very similar output on Arch Linux in VirtualBox:
[code]

[2020-06-19 04:05] damian101 commented on #20
On my openSUSE Tumbleweed installation in VirtualBox it also doesn't start, but the terminal output is different:
[code]

[2020-06-21 06:14] egara commented on #20
Hi @damian101 and thank you very much for your report.

I'll take a look, because the snap package is a little bit outdated (current version is 1.9). I don't know if it is worth creating a package with the new version or maybe I create a install script because I have found that ButterManager works fine creating a virtual environment with Python.

So I'm going to work on it and I'll keep you inform

[2020-06-25 14:34] #14 closed

[2020-06-25 14:35] egara commented on #14
This issue has actually been solved, although a new functionality to change the default font size could be implemented in future versions. Thanks for the feedback again and for your time in tests!! :)

[2020-06-27 11:17] egara commented on #20
Hi @damian101 again!

I've been working on a installation script. Please, did you have time to test it on those environments and tell me if it works?

You have to clone this repository and checkout branch devel:

`git checkout devel`

Install possible missing dependencies like **python3-setuptools** and **python3-venv** packages (maybe the name of these packages are different in those distribution

[2020-06-28 02:34] damian101 commented on #20
@egara Those steps worked fine on Arch, Ubuntu and openSUSE, thanks!

[2020-06-28 02:34] #20 closed

[2020-09-12 07:16] dron1885 opened #21 "Incorrect usage reporting with RAID setup."
Currently testing ButterManager within Arch VM and reporting of used space are incorrect when system on btrfs' RAID.
![1599894661_grim](https://user-images.githubusercontent.com/45915083/92989972-d749a180-f4e0-11ea-8827-dbb2ede9dd32.png)

[2020-09-12 11:41] egara commented on #21
Hi @dron1885 and thanks for the reporting.

I've never tested ButterManager against a RAID system. In order to calculate used space ButterManager executes **sudo btrfs filesystem usage /**. Could you try this command and attach a picture please?

Thank you very much!

[2020-09-12 16:32] dron1885 commented on #21
Output:
[code]

[2020-09-14 14:33] egara commented on #21
Hi @dron1885

Thanks for pasting the output. I think it is fixed. If you have installed the application via AUR, you can do a system upgrade (yay -Syua) for AUR packages and ButterManager version 2.0-2 will be installed.

Could you test it and tell me if everything works OK? Thank you very much!

[2020-09-15 10:18] dron1885 commented on #21
@egara New version is working as expected, thanks!

[2020-09-15 10:18] #21 closed

[2020-09-15 10:32] egara commented on #21
Thanks to you for the feedback!! :D

[2020-12-22 08:14] haivala opened #23 "Does not create snapshots automatically"
When I run the update in the ButterManager I can see that in the log but there is not a new snapshot if I don't make it manually and when I make one it is added to grub menu.
I'm just wondering have I done something wrong or is this how it should work?

Is there an easy way to trigger the automatic snapshot creation when I run the system update from the command line?

[2020-12-22 08:55] egara commented on #23
Hi @haivala thanks for reporting.

Please, check the following:

1.- Do you have subvolumes added in Settings tab? You will need at least one subvolume added here in order to ButterManager create the snapshot automatically.
2.- In Settings tab: Snapshots to keep must be 1 or greater.
3.- In Settings tab: You need to check Boot the system from GRUB using snapshots.
4.- In Settings tab: If you have

[2020-12-22 09:19] haivala commented on #23
![image](https://user-images.githubusercontent.com/3918267/102871540-3a839200-4447-11eb-98b8-6d55955f0471.png)

1. yes
2. yes
3. yes
4. I haven't checked that, Where the "Upgrade with snapshots"- button should be?
5. Arch

[2020-12-22 09:27] haivala commented on #23
![image](https://user-images.githubusercontent.com/3918267/102872686-bc27ef80-4448-11eb-8c82-6330708b10e6.png)

[2020-12-22 09:31] egara commented on #23
Ok, please, check "Check updates at startup" first. Then, close ButterManager and run it again. If there is some package that is needed to update, a new pop up window will appear. There it is the button that I tell you. Please, click on it and tell me if it works:

![Screenshot_20201222_102802](https://user-images.githubusercontent.com/13696843/102873047-e70e4580-4440-11eb-8e3a-860f3198b525.png)

[2020-12-22 09:36] egara commented on #23
By the way, regarding to you second question

`Is there an easy way to trigger the automatic snapshot creation when I run the system update from the command line?`

No, there is no way to integrate ButterManager with pacman directly, sorry for that, but there are some packages (scripts) that can do that. You can [check some solutions here](https://www.reddit.com/r/archlinux/comments/54ni8u/arch_bt

[2020-12-22 10:02] haivala commented on #23
I suggest that the button should be under "Other Operations" in the main tab? I think the heading is not necessary.
I have other means to check if I have updates and there is times I would like to just take a snapshot so this would be better usability.

To conclude my suggestion: remove the heading "Other Operations" and the buttons from left to right:
"Upgrade System", "Upgrade with snapshots", "

[2020-12-22 10:07] egara commented on #23
Ok, I get it. i think you are right. And I think that, instead of "Other operations" maybe a better title for this part of the GUI would be simply "Operations" os "Fast Actions".

By the way, did it work? Upgrading the system including snapshots run well?

[2020-12-22 10:13] haivala commented on #23
There has not been any updates yet, I'll let you know

[2020-12-22 10:17] egara commented on #23
Thank you very much :)

[2020-12-22 11:20] haivala commented on #23
It works as it should

[2020-12-22 11:25] egara commented on #23
Ok, thanks for the feedback.

I'll take all your suggestions and I'll check the behavior of the button "Upgrade System" as well because I think it is a little bit confusing.

I close the issue now :)

Best wishes.

[2020-12-22 11:25] #23 closed

[2020-12-22 11:27] haivala commented on #23
Thank you!

[2021-01-25 06:50] haivala opened #26 "Upgrade with snapshots does not take snapshots"
I'm using the new fast action button. The process does not do anything to the snapshots and I have to click on the take snapshots button. That process does not remove old snapshots. When does it check for the snapshot amount? I have now defined Snapshots to keep: 3 and There is 2 subvolumes with 6 snapshots.

[2021-01-25 08:40] egara commented on #26
Hi @haivala and thank you very much for your feedback.

I'll take a look into this issue, thanks for reporting. What distro are you using?

I'm trying to refactor the whole application in order to package it for Fedora, so when I finish this process I'll take a look to it. Meanwhile, you can check "Check updates at startup" within Settings tab and when ButterManager runs, it will check for updates

[2021-01-25 13:01] haivala commented on #26
I'm using Arch.

That's the thing. I don't want it to check the updates on startup as I already know that there is updates and what they are because I have other means to do that.. enabling that setting and using the other dialogue it works as expected.

[2021-01-25 20:03] roypen commented on #26
Hi. I have the same "issue" on Fedora 33. It looks like "Upgrade System with snapshots" works the same way as "... without snapshots" button.

[2021-01-26 08:38] egara commented on #26
Thak you guys @haivala and @roypen for reporting and confirming it. I'll take a look at it when I finished the refactoring process for packaging ButterManager for Fedora :)

[2021-02-15 18:17] dbro86 opened #27 "Please create a new release"
It would be fine if you update the GitHub releases for version 2.3.

Kind regards
Brody

[2021-02-15 18:43] egara commented on #27
Sorry, I was still updating. Now, version 2.3 is OUT and a new tag has been created :)

Thanks!!!

[2021-02-15 18:43] #27 closed

[2021-02-15 18:44] egara commented on #26
New version 2.3 is OUT and this bug is fixed! (I hope so ;P)

Thank you very much to all of you for your feedback.

[2021-02-15 18:44] #26 closed

[2021-02-21 08:56] lapineige opened #28 "Selecting a subvolume closes Buttermanager"
System : Kubuntu 20.10
Version : 2.3, and master

Hello,

When I select a subvolume, or any folder, the app just quit, and if I open it again nothing was saved.
I suppose that's a bug ?

[2021-02-21 10:44] egara commented on #28
Hi! Thanks for the feedback.

Could you tell me how did you install ButterManager? Did you try both
native and venv installation?

Could you send me the log too? It is in .buttermanager/buttermanager.log

Thanks!!

On Sun, Feb 21, 2021, 9:56 AM lapineige <notifications@github.com> wrote:

[2021-02-21 11:01] lapineige commented on #28
I tried both, same result.

Here is the log :

INFO:ConfigManager. Creating PropertiesManager...
INFO:ConfigManager. Retrieving user's configuration from buttermanager.yaml file and loading it in memory...
INFO:VersionChecker. Checking for a new version of ButterManager. Please wait...
INFO:PasswordWindow. Calculating appropriated base font size for UI elements...
INFO:PasswordWindow. Base font si

[2021-02-23 10:50] egara commented on #28
Hi again.

Ok, it should be a bug, but it is not reproducible on Arch where I develop so I have to install a virtual machine to test it and see what happens.

I'll keep you inform and thanks!

[2021-02-23 11:10] lapineige commented on #28
Someone reported to me that it was working on Fedora too.

Thanks a lot for your time :)

[2021-02-23 11:56] egara commented on #28
Thanks to you for your feedback :)

Maybe it is a thing of libraries version or something like that... I'll
take a look!

El mar, 23 feb 2021 a las 12:10, lapineige (<notifications@github.com>)
escribió:

--
Eloy García Almadén

[2021-02-23 11:59] lapineige commented on #28
If you want me to give you the version for a list of libraries, feels free to ask :)

[2021-02-28 13:38] egara commented on #28
Hi @lapineige

I come back to you because this weekend I have installed a fresh Kubuntu 21.10 on Virtual Box. This is my experience.

Before the installation of ButterManager, I have installed []all the required libraries](https://github.com/egara/buttermanager#from-the-source-code). I have installed [grub-btrfs from Git](https://github.com/Antynea/grub-btrfs) too.

## Installation using venv_inst

[2021-02-28 14:24] lapineige commented on #28
I did not touch this option (unchecked by default), nor installed `grub-btrfs` as it was complicated and I did not need it. Would that be an issue ?

[2021-02-28 20:48] egara commented on #28
I think this would be an issue, but again, in this case, this integration is working perfectly on the native installation so... I don't know, maybe something related to de libraries version I guess...

So, if you don't need GRUB integration to reboot your system directly using a previous snapshot (which, on the other hand, I think is something useful if you don't want to use a live USB when you wa

[2021-02-28 20:58] lapineige commented on #28
Great, then maybe I'll wait for the next version.

Grub integration would be handy indeed, but installation is too complicated for me and I found no package nor ready to use PPA, so I will pass :sweat_smile:

[2021-02-28 21:50] egara commented on #28
Yep, it is sad that grub-btrfs is not packaged for Ubuntu. You could try
Manjaro or EndevourOS on Virtual Box and see how it works. You install it
and then yay -S buttermanager

Done!  🙂

I'll keep you informed when this bug is fixed in the next version. And
thanks again!!!😃

On Sun, Feb 28, 2021, 9:58 PM lapineige <notifications@github.com> wrote:

[2021-03-07 08:25] egara commented on #28
Hi @lapineige

I have discovered that this issue happens on KDE Plasma Desktop Environment and a native installation of ButterManager. I think it is a bug in PyQT5, so I have introduced a fallback for this case. It is only in devel branch at the moment but when I merge the code into de master branch and release version 2.4 it will be available for everyone.

Cheers!!

[2021-03-07 08:44] lapineige commented on #28
Great, thanks !

[2021-03-19 11:06] lapineige commented on #28
Hello,

I see that the patch is already available in devel, do you want me to test it ?
How risky can it be to use the devel branch ?

[2021-03-19 11:17] egara commented on #28
Hi @lapineige and thank you for your help.

Yes, it is save but if you want to try, please, follow this steps:

1.- Make a copy of the configuration file within ~/.buttermanager.yaml because the new feature that I'm developing will change it and it is not finished yet.
2.- Install python3-tk package on Kubuntu if it is not installed yet
3.- Uninstall ButterManager and install it again from devel
4

[2021-03-28 13:24] Strit opened #29 "Not very mobile friendly"
With the development of the PinePhone and other linux based phones, having btrfs snapshots seems like a great addition.

Sadly, this tool does not look or function well under a mobile interface yet.

Here's some screenshots to give a hint. ;)

![Screenshot_20210328_150828](https://user-images.githubusercontent.com/6380959/112753847-a3941c00-8fd9-11eb-930e-0909d46c66d7.png)
![Screenshot_20210328_15

[2021-03-29 06:05] egara commented on #29
Hi @Strit and thank you very much for your feedback.

You are absolutely right. ButterManager was created with only Desktop use in mind. That's why I ended up creating windows with fixed height and width. But it is fair. Pinephone and Linux phones are gaining attraction and I could take a look again into the original layout of the application in order to make it more friendly for these use cases.

[2021-03-31 07:05] #28 closed

[2021-03-31 07:06] egara commented on #28
New version 2.4 has just been released and this issue should be fixed. Could you test it on Kubuntu @lapineige ?

[2021-04-02 07:16] lapineige commented on #28
Yeah, that's great news ! :D

I think I'm going to try it within a week.

Thanks a lot for your work :)

[2021-04-09 08:38] lapineige commented on #28
So I tried, with native install same crash as before :/
But with virtual environment it works ! :tada:

And fun facts: the theme is different between both :thinking:

[2021-04-09 09:15] egara commented on #28
Hi and thank you very much for testing!! :)

Yep, this workaround should not be there, because only for this special
case when the user is in DE KDE Plasma happens this crash :(

I've tested in GNOME and XFCE and everything works fine (PyQT5 works as
expected and file explorer doesn't crash). As I thought before, I think it
is something related to PyQT5 and Plasma. For this workaround I use Tkinte

[2021-04-09 10:22] lapineige commented on #28
As an user, that's not a big deal (and it's a way to know if it's native or venv ^^). Thanks for the explanations 🙂

[2021-04-10 08:01] lapineige opened #31 "Snapshot diff : List index out of range"
After making a few snapshots (8, out of 7 subvolumes), I tried to show differences between the first (/) snapshot and the current state. The Dialog popup is shown, but in the command ligne I have this error:
[code]

[2021-04-10 08:32] lapineige commented on #28
A quick feedback after trying it more extensively : it works like a charm, thanks a lot :tada: :smiley:
The only thing I'm missing is a ~timeshift-like automated snapshot on a regular basis, but if it makes a snapshot after any (apt) upgrade, then I will have quite a lot of frequent backups (I have updates several times a week-end).

[2021-04-11 06:50] egara commented on #28
@lapineige and thanks to you for all the extensive testing you are doing with ButterManager! :)

[2021-04-11 07:03] egara commented on #31
Thank you again for the reporting.

At this moment, I'm giving "some love" to another project that I have. It is called "WallpaperDownloader". When I finished version 4.2 of WallpaperDownloader I'll start to work in this issue and some other new features for ButterManager.

If you want to take a look at WallpaperDownloader (spam spam spam ;-) ):

Snap Store (not recommended if you are in KDE becau

[2021-04-11 08:42] lapineige commented on #31
There is no hurry :)
It's not even a blocking bug ^^

😉 I'm already using Variety (https://peterlevi.com/variety/) for that, but thanks :)

[2021-04-27 05:11] innerave opened #32 "App not launching"
I've never worked with python, but it looks like there is something wrong with string to integer conversion.
Arch Linux, Gnome 40.

`Traceback (most recent call last):
  File "/usr/bin/buttermanager", line 33, in <module>
    sys.exit(load_entry_point('buttermanager==2.3', 'console_scripts', 'buttermanager')())
  File "/usr/lib/python3.9/site-packages/buttermanager/bm_main.py", line 17, in main

[2021-04-27 10:48] egara commented on #32
Hi @innerave and thanks for reporting!

Did you install directly version 2.4 of ButterManager or did you upgrade from version 2.3?

[2021-04-27 16:51] innerave commented on #32
I installed version 2.4 for the first time from aur

[2021-04-28 19:39] egara commented on #32
Ok.

Could you paste here the configuration file generated? It is located at ~/.buttermanager/buttermanager.yaml

Thanks! :)

[2021-04-29 02:26] innerave commented on #32
I'm sorry, I just realized that the original error was different.

`Traceback (most recent call last):
  File "/usr/bin/buttermanager", line 33, in <module>
    sys.exit(load_entry_point('buttermanager==2.3', 'console_scripts', 'buttermanager')())
  File "/usr/lib/python3.9/site-packages/buttermanager/bm_main.py", line 17, in main
    PasswordWindow(None)
  File "/usr/lib/python3.9/site-packages/b

[2021-04-29 13:29] egara commented on #32
So, did you have to create .buttermanager folder by hand?

This is very weird...

I will install a basic Arch Linux on a Virtual Machine with Gnome to test it and I'll give you my feedback. Thanks again!  :)

[2021-04-29 13:57] innerave commented on #32
Yes, the first error after a fresh installation is
`[Errno 2] No such file or directory: '/home/alexander/.buttermanager/buttermanager.log'`

When I create .buttermanager directory
`ValueError: invalid literal for int() with base 10: ''`

[2021-04-29 19:17] egara commented on #32
Ok, thank you very much. I'll install a virtual machine a take a look :)

[2021-05-01 06:39] egara commented on #32
Good news @innerave

I finally fixed this little but annoying bug and ButterManager 2.4.1 with this fix has been released in AUR. Could you test it and tell me if everything works fine now?

Thank you very much! :)

[2021-05-01 08:40] innerave commented on #32
Now everything works perfectly! Thank you for your help!

[2021-05-01 14:44] egara commented on #32
Thanks to you for reporting this issue :)

I hope ButterManager is useful to you. I close the issue

[2021-05-01 14:44] #32 closed

[2021-05-04 13:05] lapineige opened #33 "Main tab not updated when switching filesystem"
In the "Main" tab, when switching the "Filesystem" option, nothing happens, the Size and Allocated values are not updated.

Version: since at least 3 versions 🤔

[2021-05-05 09:56] egara commented on #33
Hi @lapineige and thank you very  much for reporting.

I'll take a look at this problem. I'll install a Virtual Machine with several BTRFS Volumes in order to test this use case. Thanks and I'll keep you inform :)

[2021-05-25 15:27] lapineige opened #34 "[Feature Proposal] Show snapshot-exclusive files size"
Hello,

I would like to make a proposal : buttermanager could feature a "snapshot exclusive files size" (or rather a "how much storage space as been freed since that snapshot") next to each snapshot.
That would give us an (approximate ?) extra amount of storage that is used by that snapshots, or more precisely by the files (from that snapshot) that are unique (=only found in that snapshot, and no

[2021-05-25 16:43] lapineige commented on #34
For the record, right now I'm doing it with `btrfs filesystem du -s SnapshotFolder(s)`. But it is slow (like `du`) and create moderately high (IO) load.
The result gives us `Total`, `Exclusive` and `Set shared` storage spaces.
I realise that, even if my goal here was to display the `Exclusive` value, giving the `Total` one is interesting too.

[2021-05-30 07:34] egara commented on #34
Hi @lapineige and again, thanks for your feedback!!

I don't know exactly what all this means. For this new feature to be useful, a new independent tab should be implemented or this size could appear next to each snapshot within the Snapshots tab?

I've found a script that gives all this information here https://github.com/nachoparker/btrfs-du (I tried to execute the command you gave me but some e

[2021-05-30 09:15] lapineige commented on #34
I was thinking about the second option. Something similar to Timeshift for instance: https://laborversuch.de/wp-content/uploads/2020/03/main_window.png

In my case I would like not to enable BTRFS quota…
Did you have to enable it to execute `btrfs filesystem du command` ?

[2021-05-30 19:06] egara commented on #34
I've been digging into btrfs-du script. I don't have quota enabled so, the script will enable it, calculate the space and then disable it again.

Maybe this feature could be disabled by default and include some checkbox to enable it. Then, every time a snapshot is created, launch the script, calculate the information and store it to display it after.

btrfs-du is in AUR for Arch Linux, but I don't

[2021-05-30 21:50] lapineige commented on #34
Oh, that's very interesting !

I'm ok with that, then a tooltip or so could warn about quota being enabled for a few seconds :thinking:

I think so too, that would ease a lot the packaging :thinking:
It's not on Ubuntu by the way.

I'm looking for the "exclusive" size. That would tell me how much extra space is taken by that specific snapshot. That's particularly interesting to know 1) how much sp

[2021-07-10 22:01] michel-slm opened #38 "RFE: PAM integration"
This would allow users to authenticate using their mechanism of choice (e.g. fingerprint reader) in a consistent way, rather than forcing them to use their passwords.

[2021-07-11 06:32] egara commented on #38
I'll investigate on it! Thanks for all @michel-slm  ;)

[2021-07-22 19:19] xeladejo opened #39 "AUR package depends on grub-btrfs"
The AUR package depends on `grub-btrfs`, in my case I am using `systemd-boot`. Would be possible done the dependency optional?

I don't know if it is as easy as change the dependency from `depends` to `optdepends` or if it is more integrated in the code.

[2021-07-23 15:51] egara commented on #39
Hi @xeladejo and thanks for your suggestion. Yes, I think I could change the dependency to optdepends. You are right. Users that doesn't use GRUB wouldn't need this dependency at all. I think I could change it in the next release of the application.

Thank you very much for your feedback! :)

[2021-09-23 15:03] Deckweiss opened #40 "Consolidation broken"
Console output:

[code]

Relevant log:
[code]

btrfs-list:

[code]

It is probably because I somehow fucked my filesystem while trying to use btrbk and their restore guide. But I don't really know so I wanted to share the broken case if you want to add some safety checks.

[2021-09-24 07:10] egara commented on #40
Hi @Deckweiss and thank you for the report.

Today, I've been testing the consolidation process in my own machine and it worked flawlessly. This is the log during the operation:

[code]

There is something that caught my attention comparing my log with yours and it is the line

[code]

As you can see, the destination is **/mnt/defvol/@** but there is no destination in your log. This is my configur

[2021-09-24 10:47] Deckweiss commented on #40
[code]

[2021-09-24 12:10] Deckweiss opened #41 "Taking snapshot does not work when manually deleted a previous of the same day"
Steps to reproduce:

1. Use "Take snapshot" twice so that there are two snapshots of today e.g.:
[code]

2. Go to snapshots tab and use the bin to delete the first of the two snapshots e.g.: `_snapshots/root-20210924-0`

3. Go to main tab and use "Take snapshot" - no new snapshot will be created.

(You have to delete the snapshot with the -1 ending as well for it to work again, or wait for the nex

[2021-10-02 18:19] Deckweiss commented on #38
@egara  in case you haven't found it yet, here is a detailed source about the topic https://venam.nixers.net/blog/unix/2020/07/06/dbus-polkit.html

[2021-10-03 06:22] egara commented on #40
Hi @Deckweiss

Thanks again for the feedback and I'm glad that on a fresh installation everything works fine.

Yes, it's totally possible that if you were tinkering with several BTRFS tools, something could cause collateral effects.

Again, thanks for your interest in ButterManager :)

[2021-10-03 06:25] egara commented on #41
Hi @Deckweiss !

Oh, I see. Thank you very much for your feedback again. I'll take a look!

[2021-10-03 06:29] egara commented on #38
Thanks for the information @Deckweiss

I've been quite busy but now I'm planning to start a new version and resolve some of the issues opened. I'm not sure about the difficult to implement this one but I'll definitely take a look to your information. Thanks!

[2021-11-01 14:28] egara commented on #31
Hi @lapineige

It's been a long while but I'm preparing the next version of ButterManager. I'm taking a look at this particular issue and I have uploaded a fix into devel branch that will be merged into master when the new release is ready. If you want to test it, you can but remember you will have to install the application from devel branch.

However, when trying to reproduce this behavior I rea

[2021-11-01 21:36] lapineige commented on #31
Hello,

Thanks for your feedback. I don't think I will have the time to test it soon enough.

Regarding the potential issue you are raising here, I don't know if I'm concerned, I'm not enough into btrfs things right now to remember/understand if that's how is configured my filesystem or not… I will need to take time to look into it.
Just a quick question : do you think that is something I could (e

[2021-11-04 08:01] egara commented on #31
Hi @lapineige

Yes, it is something that you can easily change :)

Could you attach your configuration file (**~/.buttermanager/buttermanager.yaml**) here?. Also, do you have the main BTRFS volume (ID 5) mounted in the system (for example, at /mnt/defvol or something similar) via fstab?

[2021-11-10 11:47] Deckweiss commented on #40
Hi @egara

Today, I had a bug after updating the system, so I wanted to restore a previous snapshot and I have the same error as in this issue. This time, I strictly followed your guide and did not fuck around with the subvolumes. I also restored a snapshot at some point in time on this very setup and it worked fine, but now it is broken for some reason.

commandline output:

[code]

buttermanager

[2021-11-10 12:51] egara commented on #40
Hi @Deckweiss

Oh, again this error :(

Could you attach again the config file please? (it is in **~/.buttermanager/buttermanager.yaml**)

It seems that it doesn't find where to create the consolidated snapshot when restoring.

Thanks!

[2021-11-10 13:42] Deckweiss commented on #40
[code]

[2021-11-10 14:21] egara commented on #40
Hi! This is my configuration file:

[code]

I think this is the relevant line:

[code]

Ok, Try to change this line. Instead of pointing directly to **/** and **/home** use the path to the actual subvolume location. In your case, I guess it should be **subvolumes_orig: /mnt/defvol/_active/root/|/mnt/defvol/_active/home/** (Please, check it out before).

Then, reboot the system and boot into a prev

[2021-11-10 18:27] Deckweiss commented on #40
This did the trick!

Thank you for your support ❤️

[2021-11-10 18:27] #40 closed

[2021-11-11 07:39] egara commented on #40
Hi @Deckweiss

Great!! I have to implement a way to restrict this. I mean, when a user configures a subvolume to create a snapshot in ButterManager, he/she selects **/** as origin. This is a very natural way of thinking. But it is not correct, because it is only the mount point and the original subvolume is below main BTRFS volume with ID 5. Because of this. it is necessary to have a mount point f

[2021-12-20 09:28] StayBlueee opened #43 "Error if sudo is not found"
Title is self-explanatory.

While most systems _do_ have sudo, some don't, including mine (I use doas).

There should be some sort of option to allot for people who might not have sudo on their system.

[2021-12-21 02:27] Deckweiss opened #44 "'unknown': I need something more specific."
I sometimes get an error when updating with snapshots. Not every time, but about 50/50

I think it started happening after the last python version update on Arch. I have rebuild buttermanager from AUR after that update.

[code]

After this the program hangs. Killing it and trying to update manually says that there is already an update process running.

Restarting results in a broken system sometim

[2021-12-21 02:44] Deckweiss commented on #44
Actually, nevermind

I was using pamac to update afterwards.

Running pacman again out of curiosity showed me that it keeps hanging up randomly.

[2021-12-21 02:44] #44 closed

[2021-12-22 08:36] egara commented on #44
Hi @Deckweiss

You are right, after the Python's upgrade to the new version, it is necessary to rebuild ButterManager. On the other hand, the pacman issue will be resolved sooner or later I guess :)

Thanks for reporting, as always!

[2021-12-22 08:40] egara commented on #43
Hi @StayBlueee and thanks for the report.

Honestly, I didn't even know that there were other programs similar to sudo to do the same things that sudo does.

I'll take a look to this problem to see how I can resolve it.

Best,

Eloy

[2021-12-22 12:20] StayBlueee commented on #43
https://github.com/Duncaen/OpenDoas

[2021-12-27 02:05] Deckweiss commented on #44
I figured out the issue.

I think buttermanager starts an interactive shell and for some reason stuff from my .bashrc was interfering with it (specifically https://github.com/Deckweiss/auto-root tool)

Adding an env variable in the buttermanager desktop file to disable said tool seems to have fixed it.

[2021-12-28 08:44] egara commented on #44
@Deckweiss nice tool!!! Very useful, thank you very much for this :)

[2022-03-02 19:35] xi-pinmping opened #45 "TypeError: load() missing 1 required positional argument: 'Loader'"
Hi, I'm running into this using gksu on a new ArchLabs install. If I pass anything to after the argument, I get

[2022-03-03 09:54] egara commented on #45
Hi! Thanks for the feedback.

Question: Why are executing ButterManager with gksu? It is no needed. Just use the ButterManager desktop entry created during the installation process or, if you want to execute it from the command line, just type buttermanager.

It will ask for your password because it needs to execute some commands  via sudo underneath to operate and should run properly.

I hope thi

[2022-03-05 03:06] xi-pinmping commented on #45
Because it didn't work without gksu either. I assumed it needed permissions due to the nature of the application so gave that a shot as well. Have tried via desktop menu and through terminal. I'm on wayland so sudoing programs isn't always effective.

[2022-03-10 14:20] egara commented on #45
Hi @xi-pinmping
I have reproduced the error. I think it has nothing to do with gksudo. Today I have installed ButterManager from AUR in Manjaro and this exception is thrown. Maybe is something related to the new version of Python, so I have to investigate on that.
Thank you very much for the feedback!

[2022-03-11 07:29] egara commented on #45
The problem is related to the creation or migration of buttermanager.yaml which is the properties file with all the user's configuration. If you want to run ButterManager meanwhile, you can follow these steps:

    cd ~/.buttermanager
    nano buttermanager.yaml

Paste this content of buttermanager.yaml
[code]

**Important note**: You will have to check the line **path_to_consolidate_root_snapshot

[2022-05-02 21:08] egara commented on #45
New version 2.4.3 is out with this issue fixed

[2022-05-02 21:08] #45 closed

[2022-05-02 21:09] egara commented on #31
New version 2.4.3 is out with this issue fixed

[2022-05-02 21:09] #31 closed

[2022-05-02 21:09] egara commented on #33
New version 2.4.3 is out with this issue fixed

[2022-05-22 16:52] Deckweiss opened #46 "Consolidation not working if docker uses btrfs subvolumes"
When trying to restore the previous snapshot I get

[code]

I think this is due to docker using btrfs storage driver by default on arch and derivatives now. https://docs.docker.com/storage/storagedriver/btrfs-driver/

btrfs-list output:

[code]

[2022-05-22 17:07] Deckweiss commented on #46
How I seemingly solved it:

1. Backed up the /mnt/defvol/_active/root/var/lib/docker directory to a tar.gz file
2. sudo -s
3. cd /mnt/defvol/_active/root/var/lib/docker
4. btrfs subvolume delete btrfs/subvolumes/*

[2022-05-22 18:05] Deckweiss commented on #46
After this I changed the docker storage driver to `fuse-overlayfs` instead of `btrfs` by following https://docs.docker.com/storage/storagedriver/overlayfs-driver/

So that this issue will not occur in the future.

[2022-05-23 06:58] egara commented on #46
Hi @Deckweiss

Thanks for reporting :)

You are right, that problem is more a layout problem than a ButterManager issue '_per se_'. Some time ago, I created a [cheatsheet and documentation](https://github.com/egara/arch-btrfs-installation) regarding to a simple BTRFS layout for a new system and [you can see here](https://github.com/egara/arch-btrfs-installation#problem-with-docker-and-btrfs) this

[2022-08-30 22:20] haivala opened #47 "Not working anymore after GRUB update"
I'm getting this message: You have booted into an alternative snapshot. Do you want to consolidate it as your default

I'm not actually totally sure how I ended up with this problem. I'll try to explain.
first GRUB updated to new version and it did not work anymore (boot loop) so I booted up arch install usb and copied /boot/ from older snapshot to the active one. Then I was able to boot again. Th

[2022-08-31 07:41] egara commented on #47
Hi @haivala

I think this issue is not related to ButterManager (there are some issues reported in Arch [here](https://archlinux.org/news/grub-bootloader-upgrade-and-configuration-incompatibilities/) and in EndeavourOS [here](https://discovery.endeavouros.com/system-rescue/repair-a-non-booting-grub/2021/03/)) but maybe I can help you. Please, attach the output of these commands:

- sudo btrfs subv

[2022-08-31 17:53] egara commented on #47
Ok, I'm going to detail the consolidation process in order to execute it by hand instead of using ButterManager. Doing this process the last active rootvol will be removed and instead, you will consolidate **/_snapshots/root-20220818-0** snapshot, which is the snapshot in wich the system is booting by default right now. This process won't be reversible.

1- Delete the active rootvol:

        sudo

[2022-08-31 21:19] haivala commented on #47
Thank you for this help! I'm sorry to say it did not work but it got me in the right track.

Thing was that I had run the `grub-install` when I had booted the snapshot and activated it. That modified the first `grub.cfg` entry to use the snapshot. What I needed to do was load the "active" snapshot and then I ran the `grub-install` again to modify the `grub.cfg` and then use it with `grub-mkconfig`

[2022-09-01 07:13] egara commented on #47
Hi @haivala

And thank you for sharing the solution. You are totally right. I was assuming that you were selecting **/_snapshots/root-20220818-0** in GRUB menu, so the "default" subvolume for GRUB would be still **_active/rootvol**.

I'm very happy that you could solve this problem. I close the issue then :)

[2022-09-01 07:13] #47 closed

[2022-09-19 17:12] egara commented on #29
Hi @Strit

I've been working on version 2.5.0 just released today and it includes some features that I hope can solve the problems you had running ButterManager on a PinePhone. If you have time, it would be awesome you could test it.

- All the windows layouts have been re-implemented. This means that all windows are resizable now and they should re-scale accordingly and dynamically.
- A new featu

[2022-09-19 17:12] #29 closed

[2022-09-19 17:38] Strit commented on #29
Awesome. I will check it out!

[2022-09-20 17:36] lapineige opened #48 "Font size very small after upgrade to 2.5"
After upgrading to version 2.5.0, the font size went from "normal" to "very very small" (just like on an HDPI screen).
I'm using a 15" laptop, Full HD definition.

Also I'm using a custom scaling in KDE settings (106,25%), just in case it could be related…

By the way : what's new in this version ? :)

[2022-09-20 19:37] egara commented on #48
Hi @lapineige

Now, you can set a font size increment on Settings tab because all the window layouts have been re-implemented and are re-scalable in order to make the application usable on larger resolutions (4K, etc) and small ones too (PinePhone for example). You can check all the [new features and improvements for version 2.5.0 here](https://github.com/egara/buttermanager#version-250).

Thanks

[2022-09-20 19:37] #48 closed

[2022-10-24 17:36] bitnom opened #49 "Any conflicts with other GUIs?"
Btrfs Assistant came preinstalled in my distro. Is there any danger in running buttermanager alongside other btrfs GUIS?

[2022-10-25 06:49] egara commented on #49
Hi @bitnom

Absolutely not. You can install ButterManager and use it without any problem. After installing ButterManager you will have to configure it, i.e. you will have to define all the subvolumes you want to manage with ButterManager and where the snapshots that you create will be stored for example.

ButterManager gives you the ability to upgrade your system (including snaps and recently flat